gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Ignore the file containing keystore passwords.
/android/key.properties

# Ignore all keystore files with the .jks or .keystore extension
# that might be in the project, even though they should be moved out.
*.jks
*.keystore